/* body{background-color: #B1B2FF} */
#top-title{
    color: black;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    
}
#homebutton{
    text-transform: uppercase;
    font-size: 1rem;
    color: gray;
    padding: 15px;
}
#educationbutton{
    text-transform: uppercase;
    font-size: 1rem;
    color: gray;
    padding: 15px;
}
#experiencebutton{
    text-transform: uppercase;
    font-size: 1rem;
    color: gray;
    padding: 15px;
}
#aboutmebutton{
    text-transform: uppercase;
    font-size: 1rem;
    color: gray;
    padding: 15px;
}
#contactbutton{
    text-transform: uppercase;
    font-size: 1rem;
    color: gray;
    padding: 15px;
}
#blogbutton{
    text-transform: uppercase;
    font-size: 1rem;
    color: gray;
    padding: 15px;
}
.top-content{
    background-color: #B1B2FF;
    height: 110%;
    width: 105%;
    margin-left: -10px;
    margin-top: -30px;
    color: gray;
    text-align: center;
    padding-bottom:20px;

}
.front-view{
    background-color: #AAC4FF;
    margin-left: -10px;
    height: 688px;
    width: 105%;
}
.left-front-view{
    width: 50%;
    float: left;
    text-align: center;

}
.right-front-view{
    width: 50%;
    float: right;
}
#top-welcoming{
    margin-top: 200px;
    font-size: 50px;
}
#top-summary{
    margin: 50px 20px;
}
#ProfilePhoto{
    width:500px;
    margin-left:100px;
}
.bottom-view{
    background-color: #D2DAFF;
    height: 200px;
    width: 105%;
    margin-left: -10px;
}
.bottom-content{
    background-color: #EEF1FF;
    height: 200px;
    width: 105%;
    margin-left: -10px;
}